{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "standard",
    "prettier",
    "prettier/standard",
    "prettier/react"
  ],
  "plugins": ["react", "prettier", "standard"],
  "env": {
    "node": true,
    "jest": true,
    "jasmine": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ]
  }
}
